# .NET Core #
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio #
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.sln.view

# Visual Studio Launch Settings #
Properties/launchSettings.json

# Build results #
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Test Results #
TestResults/
[Cc]overage-report/
*.trx
*.coverage
*.coveragexml

# Logs #
logs/
*.log
ControleFinanceiro.API/logs/

# Frontend (Node) #
node_modules/
dist/
.angular/

# Others #
.DS_Store
.env
.env.*
!.env.example
